.container {
    margin-top: 85px;
    width: 50%;
}

.container > p {
    font-size: 20px;
}

.container > .text-uppercase {
    font-size: 55px;
    font-weight: bold;
}

.w-100 > input, .m-1 > input, .m-1 > textarea {
    transition: .55s;
    -webkit-transition: .55s;
    -moz-transition: .55s;
    -ms-transition: .55s;
    -o-transition: .55s;
}

@media screen and (max-width: 767px) {
    .container {
        margin-top: 35px;
        width: 100%;
    }

    .container > .text-uppercase {
        font-size: 35px;
    }

    .container > p {
        font-size: 14px;
    }

    .w-100 > input, .m-1 > input, .m-1 > label, .m-1 > textarea {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        margin-top: 85px;
        width: 75%;
    }
}