<section class="vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center border border-primary rounded-4 p-4 w-50">
        <h1 class="text-uppercase">Contactame</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit vel quibusdam minus numquam exercitationem non reprehenderit iusto qui, facilis est.</p>
        <form action="" class="text-start">
            <div class="d-flex justify-content-center">
                <div class="m-1 m-sm-1 w-100">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="nombre">
                </div>
                <div class="m-1 m-sm-1 w-100">
                    <label for="apellido" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" placeholder="apellidos">
                </div>
            </div>
            <div class="m-1">
                <label for="Correo" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="Correo" name="Correo" placeholder="example@example.com">
            </div>
            <div class="m-1">
                <label for="description" class="form-label">Descripción</label>
                <textarea name="description" id="description" class="form-control" cols="10" rows="2"></textarea>
            </div>
            <div class="my-4 text-center">
                <button class="btn btn-primary px-5" type="submit">Enviar datos</button>
            </div>                    
        </form>
    </div>
    <div class="row align-items-center mt-3">
        <div class="col-1">
            <fa-icon [icon]="iconEmail" class="fs-1"></fa-icon>
        </div>
        <div class="col-11 text-center">
            <p class="fs-5 mt-3">Enviame un mensaje al correo: <span class="fw-bold text-primary">example&#64;gmail.com</span></p>
        </div>
    </div>
    <!-- <div class="d-flex justify-content-center align-items-center bg-danger">
        <fa-icon [icon]="iconEmail"></fa-icon>
        <div class="p-1">
            <p class="bg-success">Enviame un mensaje al correo:</p>
            <p class="bg-success">example&#64;gmail.com</p>
        </div>
    </div> -->
    
</section>

<!-- <section class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container text-center">
        <h1 class="text-uppercase">Contactame</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit vel quibusdam minus numquam exercitationem non reprehenderit iusto qui, facilis est.</p>
        <div class="d-flex justify-content-center m-5">
            <div class="text-start">
                <form action="" class="border border-primary rounded-4 p-3">
                    <div class="d-flex justify-content-center">
                        <div class="m-3 m-sm-3 w-100">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre">
                        </div>
                        <div class="m-3 m-sm-3 w-100">
                            <label for="apellido" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese sus apellidos">
                        </div>
                    </div>
                    <div class="mx-3">
                        <label for="Correo" class="form-label">Correo Electronico</label>
                        <input type="email" class="form-control" id="Correo" name="Correo" placeholder="Ingrese su correo electronico">
                    </div>
                    <div class="m-3">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="Ingrese su teléfono">
                    </div>
                    <div class="m-3">
                        <label for="description" class="form-label">Descripcion</label>
                        <textarea name="description" id="description" class="form-control" cols="30" rows="10"></textarea>
                    </div>
                    <div class="my-4 text-center">
                        <button class="btn btn-primary px-5" type="submit">Enviar datos</button>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</section> -->
