<section class="vh-100 d-flex align-items-center py-1 justify-content-center">
    <div class="text-white w-75">
        <h1 class="text-danger text-uppercase fw-bold my-4 about">¿Quien soy?</h1>
        <div class="my-5">
            <p class="fst-italic fs-4">Ingeniero en Sistemas Computacionales, enfocado en la rama de la programación donde me entusiasma en dar vida a nuevas aplicaciones mediante código, siendo mi motivación el aprender habilidades y técnicas que me enriquecen profesionalmente.</p>
            <p class="fst-italic fs-4">Graduado del Tecnologico Nacional de México Campus Ciudad Constitución en el estado de Baja California Sur, estoy en busca de nuevos retos que me permitan demostrar y aplicar mis conocimientos en el área de desarrollo, con el propósito de seguir creciendo continuamente en el ámbito profesional y personal.</p>
        </div>
    </div>
</section>

<section class="vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex justify-content-center align-items-center w-75">
        <div class="text-white">
            <fa-icon [icon]="iconJob" class="text-white mx-5 mh-100"></fa-icon>
        </div>
        <div class="text-white px-4">
            <h1 class="text-danger text-uppercase fw-bold my-4">Mi Experiencia Laboral</h1>
            <p class="fst-italic fs-4">Estudie en el Tecnologico Nacional de México Campus Ciudad Constitución en el estado de Baja California Sur.</p>
        </div>
    </div>
</section>

<section class="vh-100 d-flex align-items-center justify-content-center">
    <h1 class="text-danger text-uppercase hobbies fw-bold">Mis hobbies favoritos</h1>
</section>
