<section class="min-vh-100 d-flex align-items-center justify-content-center">
    <div class="container p-lg-4 p-md-3 p-3">
        <h1 class="text-primary text-uppercase fw-bold">¿Quien soy?</h1>
        <div class="my-4">
            <p class="fst-italic">Ingeniero en Sistemas Computacionales, enfocado en la rama de la programación donde me entusiasma en dar vida a nuevas aplicaciones, siendo mi motivación el aprender habilidades y técnicas que me enriquezcan profesionalmente.</p>
            <p class="fst-italic">Siendo una persona con mucho entusiasmo, responsable y proactivo, estoy en busca de nuevos retos que permitan superarme continuamente para demostrar y aplicar mis conocimientos adqueridos a lo largo de mi trayectoria profesional en el mundo del desarrollo de software.</p>
        </div>
    </div>
</section>

<section class="min-vh-100 d-flex align-items-center justify-content-center m-md-0 m-lg-0 mx-3">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-primary text-uppercase fw-bold mb-4">Mi experiencia laboral</h1>
        <div class="container p-4 border border-primary rounded-4 mb-4">
            <div class="d-flex flex-lg-row flex-md-row flex-column justify-content-between align-items-center">
                <h1 class="text-uppercase fw-bold"> <fa-icon [icon]="iconJob" class="me-3"></fa-icon>Capgemini</h1>
                <h5 class="bg-primary px-lg-4 py-lg-3 px-md-3 py-md-2 px-3 py-2 rounded-5 fw-bold">Septiembre 2022 - Febrero 2024</h5>
            </div>
            <hr>
            <h2 class="my-4 text-center">Fullstack Developer</h2>
            <p>Durante mi instancia en Capgemini colabore en equipo para el desarrollo de un proyecto hacia un cliente, teniendo participación en las siguientes actividades:</p>
            <ul class="fst-italic">
                <li>
                    <p>Trabajé en equipo bajo la metodología SCRUM.</p>
                </li>
                <li>
                    <p>Colaboré en la refactorización de código front-end con Angular 14.</p>
                </li>
                <li>
                    <p>Apoyé en el proceso de CICD a través de herramientas como Jenkins y Bitbucket.</p>
                </li>
                <li>
                    <p>Desarrollé pruebas unitarias con Mockito y Java.</p>
                </li>
                <li>
                    <p>Documenté las acciones realizadas de mis actividades mediante herramientas como Jira y Confluence.</p>
                </li>
                <li>
                    <p>Implementé PL/SQL para la generación de scripts de base de datos.</p>
                </li>
            </ul>
        </div>

        <div class="container p-4 border border-primary rounded-4 mb-4">
            <div class="d-flex flex-lg-row flex-md-row flex-column justify-content-between align-items-center">
                <h1 class="text-uppercase fw-bold"> <fa-icon [icon]="iconJob" class="me-3"></fa-icon>Desarrollador Freelance</h1>
                <h5 class="bg-primary px-lg-4 py-lg-3 px-md-3 py-md-2 px-3 py-2 rounded-5 fw-bold">Abril 2024 - actual</h5>
            </div>
            <hr>
            <h2 class="my-4 text-center">Flutter Developer</h2>
            <p>Creación de una aplicación móvil para el control y detección de pacientes con enfermedades transmitidas por el mosquito</p>
            <ul class="fst-italic">
                <li>
                    <p>Desarrollo y codificación en Flutter y Dart</p>
                </li>
                <li>
                    <p>Creación de interfaces de usuario adaptables a diferentes dispositivos</p>
                </li>
                <li>
                    <p>Implementación de una base de datos local SQLite para el almacenamiento de los datos registrados en la aplicación.</p>
                </li>
                <li>
                    <p>Conexión con la base de datos MySQL alojada en un servidor CPanel mediante APIs para el envio y extracción de datos MySQL y SQLite a través de archivos PHP.</p>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="min-vh-100 d-flex flex-column align-items-center justify-content-center">
    <h1 class="text-primary text-uppercase fw-bold mb-3">Mis hobbies favoritos</h1>
    <div class="container text-center">
        <div class="row justify-content-center m-lg-0 m-md-0 mx-2">
            <div class="col-lg-4 col-6 shadow p-2 mb-5">
                <fa-icon [icon]="iconVideogame"></fa-icon>
                <p class="fs-4 text-uppercase fw-bold">Videojuegos</p>
            </div>
            <div class="col-lg-4 col-6 shadow p-2 mb-5">
                <fa-icon [icon]="iconDraw"></fa-icon>
                <p class="fs-4 text-uppercase fw-bold">Dibujar</p>
            </div>
            <div class="col-lg-4 col-6 shadow p-2 mb-5">
                <fa-icon [icon]="iconMusic"></fa-icon>
                <p class="fs-4 text-uppercase fw-bold">Música</p>
            </div>
            <div class="col-lg-4 col-6 shadow p-2 mb-5">
                <fa-icon [icon]="iconMovies"></fa-icon>
                <p class="fs-4 text-uppercase fw-bold">Películas</p>
            </div>
            <div class="col-lg-4 col-6 shadow p-2 mb-5">
                <fa-icon [icon]="iconExercise"></fa-icon>
                <p class="fs-4 text-uppercase fw-bold">Ejercicio</p>
            </div>
            <div class="col-lg-4 col-6 shadow p-2 mb-5">
                <fa-icon [icon]="iconWalk"></fa-icon>
                <p class="fs-4 text-uppercase fw-bold">Caminar</p>
            </div>
        </div>
    </div>
</section>
