<section class="vh-100 d-flex flex-column justify-content-between">
  <div class="container text-center">
    <h1 class="text-uppercase">Hola, soy <span class="text-primary">Bryan Garcia</span></h1>
    <hr>
    <h3 class="fw-bold text-uppercase fst-italic mb-4">FullStack Developer</h3>
    <a href="https://drive.google.com/file/d/1HthMPSnNX3ImAPhnSJkNtMbJDfqOuANm/view?usp=sharing" target="_blank" class="btn btn-primary fw-bold text-uppercase px-lg-5 px-md-4 px-3 mt-2">Curriculum Vitae</a>
  </div>
  <div class="text-center">
    <p class="fs-6 fst-italic">Empieza el día diciendo "Hola Mundo"</p>
  </div>
</section>