nav {
    transition: .55s;
    -webkit-transition: .55s;
    -moz-transition: .55s;
    -ms-transition: .55s;
    -o-transition: .55s;
}

.nav-link {
    position: relative;
}

.nav-link::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    bottom: 0;
    height: 3px;
    background: rgb(37, 37, 255);
    transition: .5s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.active::before {
    width: 100%;
}

.nav-link:hover::before {
    width: 100%;
    transition: .10s;
    -webkit-transition: .10s;
    -moz-transition: .10s;
    -ms-transition: .10s;
    -o-transition: .10s;
}

.d-flex {
    width: 50px;
}