<nav class="navbar navbar-expand-lg bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand text-primary fw-bold fs-1" href="#">BG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header px-4">
                <h5 class="offcanvas-title fw-bold text-primary" id="offcanvasNavbarLabel">BG</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body align-items-center">
                <ul class="navbar-nav justify-content-center w-100">
                    @for (link of menuNavbar; track $index) {
                        <li class="nav-item">
                            @if (link.path == pathActive) {
                                <a [routerLink]="link.path" class="nav-link active text-uppercase fw-bold mx-3" (click)="navLinkSelected(link.title)">{{ link.title }}</a>
                            } @else {
                                <a [routerLink]="link.path" class="nav-link text-uppercase fw-bold mx-3" (click)="navLinkSelected(link.title)">{{ link.title }}</a>
                            }
                        </li>
                    }
                </ul>
                <div class="m-3 m-xl-0" (click)="changeBackgroundColor()">
                    <fa-icon [icon]="iconMode" class="icon fs-2 my-sm-4"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</nav>