<section class="vh-100 text-center">
    <h1 class="my-4">Tecnologias</h1>
    <div class="container-fluid">
        <div class="row justify-content-center">
            @for (item of tecnologiesList; track $index) {
                @switch (item.category) {
                    @case ("Frontend") {
                        <div class="col-lg-2 col-md-3 col-4 rounded-4 m-lg-3 m-md-3 mx-1 my-3 shadow">
                            <div class="p-3">
                                <img [src]="item.image" alt="frontend tecnology" class="mw-100 object-fit-cover" height="130px">
                            </div>
                            <h1 class="my-4 p-2">{{ item.name }}</h1>
                        </div>
                    }
                    @case ("Backend") {
                        <div class="col-lg-2 col-md-3 col-4 rounded-4 m-lg-3 m-md-3 mx-1 my-3 shadow">
                            <div class="p-3">
                                <img [src]="item.image" alt="backend tecnology" class="mw-100 object-fit-cover" height="130px">
                            </div>
                            <h1 class="my-4 p-2">{{ item.name }}</h1>
                        </div>
                    }
                    @case ("Databases") {
                        <div class="col-lg-2 col-md-3 col-4 rounded-4 m-lg-3 m-md-3 mx-1 my-3 shadow">
                            <div class="p-3">
                                <img [src]="item.image" alt="databases" class="mw-100 object-fit-cover" height="130px">
                            </div>
                            <h1 class="my-4 p-2">{{ item.name }}</h1>
                        </div>
                    }
                    @case ("Tools") {
                        <div class="col-lg-2 col-md-3 col-4 rounded-4 m-lg-3 m-md-3 mx-1 my-3 shadow">
                            <div class="p-3">
                                <img [src]="item.image" alt="tools developer" class="mw-100 object-fit-cover" height="130px">
                            </div>
                            <h1 class="my-4 p-2">{{ item.name }}</h1>
                        </div>
                    }
                }
            }
        </div>
    </div>
</section>